/* Input at Table page */

#myInput{
padding: 10px;
font-size: 17px;
border: 1px solid grey;
text-align: center;
display: block;
margin : 10px auto;
width: 50%; 
/* float: left; */
/* width: 80%; */
background: #f1f1f1;
}

@media screen and (max-width: 1000px) {
#myInput{
    width: 50%; 
}
}

                
/* Each stock data page */

#stocknameh3 {
    text-align: center;
}


                        /* Navbar at Bottom */

.navbar {
background-color: rgb(44, 44, 44);
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
margin-left: 0;
padding-left: 0;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 16px;
font-family: monospace;
}
body { 
margin: 0;
padding-bottom: 36px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,

}
.navbar a:hover {
background-color: #ddd;
color: black;
}

.navbar a.active {
background-color: #50e2ad;
color: rgb(0, 0, 0); 
} 

.navbar p{
float: right;
margin: 5px;
font-size: 7px;
font-family: monospace;
text-align: center;
}

.navbar i{
font-size: 17px;
text-align: center;
margin-left: 3px;
}

                            /* Stock list */

#stocklist {
display: flex;
flex-direction: column;
}

#stocklist ,flex{
display: flex;
flex-direction: column;
order: 0;
}


.flex {
display: flex;
flex-direction: row;
border-bottom: 3px solid rgba(245, 233, 233, 0.966);
flex-wrap: nowrap; 
height: 90px;
padding: 0;
}

.flex div {
background-color: #000000;
width: 100%; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
}
.name{
margin-left: 3px;
}
.name p{
margin: 0;
}

.name p:first-child{
font-size: 17px;
font-family: monospace;
/* font-weight: bold; */
}
.name p:nth-child(2),.name p:nth-child(3),.name p:nth-child(4){
color: rgb(80, 76, 76);
font-weight: bold;
font-size: 11px;
}


.chart{
margin: 0;
padding: 0;
/* width: 10%; */
font-family: monospace;
/* font-size: 10px; */
/* border: 1px solid violet;  */
padding: 7px;
color: white;
}
.chart p{
margin: 0;
}
.strokegreen{
stroke: rgb(49, 206, 49);
color: white;
/* stroke-dasharray: 10px 20px; */
}
.strokered{
stroke: rgb(212, 75, 75);
/* stroke-dasharray: 10px 20px; */
}
.strokeblue{
stroke: rgb(61, 61, 247);
}

.ct-chart-line .ct-label {
    fill: white;
}

#data p{
margin: 0;
font-weight: bold;
}
#data p:last-child{
font-size: 12px;
}
#data p:first-child{
color: white;
font-size: 17px;
border-radius: 14px ;
/* background-color: rgb(243, 105, 101); */
padding: 6px 13px;
}

.red{
background-color: rgb(236, 52, 52);
}

.green{
background-color: rgb(21, 175, 67);
}
.green p:last-child{
color: green;
}
.blue{
background-color: rgb(81, 130, 235);
}

.fa-star{
/* border: 2px solid black; */
margin-left: 0;
margin-right: 0%;
color: blanchedalmond;
/* color: rgb(100, 97, 97); */
text-shadow: 1px 1px 1px #000;
}
.checked{
color: orange;
text-shadow: none;
}
#icon{
margin: 0;
padding-left: 0;
/* border: 2px solid black; */
width: 20px
}


                    /* top nav */

.topnav {
overflow: hidden;
display: flex;
}

.topnav a {
width: 100%;
float: left;
color: black ;
text-align: center;
padding: 8px;
text-decoration: none;
font-size: 14px;
font-family: monospace;
border: 1px  solid rgb(101, 108, 109);
flex-direction: column;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active0 {
background-color: #72f7c6;
color: black;
font-weight: bold;
}

.sectrwise {
overflow: hidden;
/* display: flex; */
display: none;
}

.sectrwise a {
width: 100%;
float: left;
color: rgb(2, 4, 39) ;
text-align: center;
padding: 3px;
text-decoration: none;
font-size: 13px;
font-family: monospace  ;
border: 1px  solid rgb(0, 0, 0);
border-radius: 8px;
margin: 0.5px;
background-color: rgb(37, 37, 37);
color: #19e499;
font-weight: bold; 

}

.sectrwise a:hover {
background-color: rgb(73, 68, 68);
color: rgb(255, 253, 253);
cursor: pointer;
font-weight: bold;
}

.sectrwise a.active0 {
background-color: rgb(71, 65, 65);
color: white;
font-weight: bold;
}

.spacing{
font-size: 8px;
}


                /* Sector Wise Data */

#sector {
display: none ;
}

.diplayShow div { 
display: flex  ;
}


                /*  highlight updated values  */
.highlight-red{
animation-name: high1;
animation-duration: 2s;
}

@keyframes high1 {
from {background-color: rgba(245, 14, 14, 0.836);}
to {background-color: rgba(230, 78, 78, 0.829);}
}

.highlight-green{
animation-name: high2;
animation-duration: 2s;
}

@keyframes high2 {
from {background-color: rgba(14, 75, 7, 0.938);}
to {background-color: rgba(37, 224, 84, 0.829);}
}




/*                  Progress Bar */
.progress{
position: relative;
/* height: 10px; */
width: 100%;
/* border: 10px solid #ffffff; */
border-radius: 15px;
}
.progress .color{
position: absolute;
background-color: #72f7c6;
width: 0px;
height: 3px;
border-radius: 15px;
animation: progres 10s infinite linear;    
}
@keyframes progres{
0%{
width: 0%;
}
25%{
    width: 50%;
}
50%{
    width: 75%;
}
75%{
    width: 85%;
}
100%{
    width: 100%;
}
};


/*               LOading Overlay */
.ct-chart {
width: 90vw;
max-width: 1100px;
height: 375px;
margin: 5vh 6.5vw;
}
.ct-chart svg {
width: 100%;
}

.ct-grids line {
stroke: #4c3b4d;
opacity: 0.4;
}

.ct-labels span {
color: #4c3b4d;
}
.ct-series-a {
stroke-dasharray: 1095;
stroke-dashoffset: 1095;
-webkit-animation: draw 7s 0.25s ease infinite;
        animation: draw 7s 0.25s ease infinite;
}

.ct-series-b {
stroke-dasharray: 1665;
stroke-dashoffset: 1665;
-webkit-animation: draw 7s 1s ease infinite;
        animation: draw 7s 1s ease infinite;
}

.ct-series-c {
stroke-dasharray: 1644;
stroke-dashoffset: 1644;
-webkit-animation: draw 8s 0s ease infinite;
        animation: draw 8s 0s ease infinite;
}

.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: red;
    /* Control the thikness of your lines */
    stroke-width: 5px;
    /* Create a dashed line with a pattern */
    stroke-dasharray: 10px 20px;
  }

@-webkit-keyframes draw {
to {
stroke-dashoffset: 0;
}
}

@keyframes draw {
to {
stroke-dashoffset: 0;
}
}

.overlay {
display: none;
position: fixed;
z-index: 1000;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(107, 102, 102, 0.658);
}
.overlay.active {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.overlay > div {
/* background-color: #ffffff; */
/* color: #000000;
border-radius: 0.5rem;
display: flex;
flex-direction: column; */
justify-content: space-around;
max-width: 30rem; 
}

.motiv{
font-family: monospace;
font-weight: bold;
font-size: 15px;
}

button{
padding: 17px;
}

/*
*                          MENU BUTTON
*/

.menu__toggler {
position: absolute;
top: 20px;
left: 20px;
z-index: 1999;
height: 28px;
width: 28px;
outline: none;
cursor: pointer;
display: flex;
align-items: center;
}
.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
position: absolute;
content: "";
width: 28px;
height: 2.5px;
background: #080808;
border-radius: 20px;
transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.menu__toggler span::before {
top: -8px;
}
.menu__toggler span::after {
top: 8px;
}
.menu__toggler.active > span {
background: transparent;
}
.menu__toggler.active > span::before, .menu__toggler.active > span::after {
background: #005c9c;
top: 0px;
}
.menu__toggler.active > span::before {
transform: rotate(-225deg);
}
.menu__toggler.active > span::after {
transform: rotate(225deg);
}

/*
* SLIDING MENU PANEL
*/
.menu {
border: 1px solid black;
position: absolute;
left: -67%;
z-index: 1998;
color: #005c9c;
background: rgba(215, 226, 211, 0.603);
-webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
width: 60%;
height: 100%;
padding: 100px; 
display: flex;
flex-direction: row;
justify-content: center;
transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
.menu {
    width: 80%;
    left: -80%;
    padding: 50px;
}
}
.menu.active {
left: 0;
}
.menu>div{
border: 4px solid white;
display: flex;
flex-direction: row;
height: fit-content;
}

/*
* BASIC STYLES
*/
*,z
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.sidemenu1{
padding: 16px;
background-color: rgb(0, 0, 0);
color: rgb(231, 114, 114);
text-align: center;
border-radius: 8px;
font-family: monospace;
display: flex;
flex-direction: column;
margin-right: 1px;
}
.sidemenu1 p:nth-child(1){
font-weight: bold ;
}

.sidemenu2{
display: flex;
flex-direction: column;
width: 60%;
flex-wrap: wrap;
}
#row2{
display: flex;
flex-direction: row;
width: 100%;

}


